<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询测试结果</title>
</head>
<body>
<form action="/models/selectdata/" method="POST">
    <p>请输入作者姓名：<input type="text" name="author_name"></p>
    <p><input type="submit" value="提交"></p>
    <p></p>
</form>

<table border="1">
    <tr>
        <th>姓名</th>
        <th>是否为男性</th>
        <th>邮箱地址</th>
    </tr>
    <tr>
        <td>{{ author.name }}</td>
        <td>{{ author.authordetail.sex }}</td>
        <td>{{ author.authordetail.email }}</td>
    </tr>
</table>

</body>
</html>