{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>weijian's personal page</title>#}
{#</head>#}
{#<body>#}
{##}
{#<h1>你好，欢迎来到彭伟剑的个人主页</h1>#}
{##}
{#<hr>#}
{##}
{#<p>Thanks for visiting my personal page</p>#}
{##}
{#</body>#}
{#</html>#}

{% extends "base.html" %}
{% block title %}<title>shuyu's personal page</title>{% endblock %}
{% block content %}
<h3>你好，欢迎来到彭舒瑜的个人主页</h3>
{% endblock %}
{% block foot %}
    <p>Thanks for visiting shuyu's personal page</p>
{% endblock %}